.hero {
  min-height: 400px;
  background-color: $bg-color-black;
  text-align: center;
  padding-top: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/hero-tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    min-height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../img/hero1.jpg);

    .hero-title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
