.logo {
  font-family: Raleway;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17;
  color: $blue-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  .logo__second {
    color: $black-color;
  }
}
